#!/usr/bin/make -f

#prevent internet access to use PyPi
export http_proxy = http://127.0.0.1:9

UPSTREAM_GIT := https://github.com/agrover/rtslib-fb.git
include /usr/share/openstack-pkg-tools/pkgos.make

%:
	dh $@ --buildsystem=python_distutils --with python2,python3

override_dh_auto_install:
	pkgos-dh_auto_install

override_dh_python3:
	dh_python3 --shebang=/usr/bin/python3

override_dh_installdocs:
	mkdir -p build
	mkdir -p $(CURDIR)/debian/python-rtslib-fb-doc/usr/share/doc/python-rtslib-fb-doc/html
	cd build; epydoc --no-sourcecode --html -n rtslib-fb \
		--exclude configobj ../rtslib/*.py \
		--output $(CURDIR)/debian/python-rtslib-fb-doc/usr/share/doc/python-rtslib-fb-doc/html
	dh_installdocs -O--buildsystem=python_distutils

override_dh_installinit:
	dh_installinit -O--buildsystem=python_distutils --name rtslib-fb-targetctl

override_dh_auto_clean:
	dh_auto_clean -O--buildsystem=python_distutils
	rm -rf build
